@model ManwhaStories.Models.Pedido

<div class="container mt-4">
    <div class="alert alert-success">
        <h1>¡Confirmación de Pago Exitoso!</h1>
        <p>Tu pedido sera llevado a tu dirección de entrega en maximo 3 días.</p>
    </div>

    <div class="mt-4">
        <a asp-controller="Catalogo" asp-action="Index" class="btn btn-primary">
            Volver al catálogo
        </a>
    </div>
</div>